@import "tailwindcss";

@font-face {
  font-family: "MS Sans Serif";
  src: url("https://unpkg.com/98.css@0.1.17/dist/ms_sans_serif.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MS Sans Serif";
  src: url("https://unpkg.com/98.css@0.1.17/dist/ms_sans_serif_bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "MS Sans Serif", "Tahoma", sans-serif;
  font-size: 11px;
  cursor:
    url("data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAAAABgAAAAwAAAAMAAAAGAAAARgAAAGwAAAB8AAAAf4AAAH8AAAB+AAAAfAAAAHgAAABwAAAAYAAAAEAAAAAAAAAAAAAAAAAAAA/////////////////////////////////////////////////////////////////+f////D////w////4f///eH///zD///8Q////Af///wAf//8AP///AH///wD///8B////A////wf///8P////H////z////9/////////8="),
    auto;
}

.font-windows {
  font-family: "MS Sans Serif", "Tahoma", sans-serif;
}

@theme {
  --animate-blink: blink 1.5s infinite;
  --animate-marquee: marquee 15s linear infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
